@media (min-width: 1400px) {
  .about-intro {
    width: 55%;
  }
}

@media (min-width: 900px) {
  .hero {
    height: 100vh;
  }
}

@media (min-width: 600px) {
  .splide .splide__arrow {
    height: 40px;
    width: 40px;
  }

  .splide .splide__arrow svg {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 1200px) {
  .hero {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .hero {
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding: 0 4vmax;
    font-size: 14px;
    gap: 5em;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .hero-image {
    margin-left: auto;
    margin-right: 4vmax;
  }

  .about-intro {
    font-size: 14px;
    width: 70%;
  }

  .skills {
    width: 90%;
    padding-top: 5rem;
  }
}

@media (max-width: 678px) {
  .about-intro {
    width: 80%;
  }

  .work-section {
    font-size: 14px;
  }

  .contact-section {
    padding-top: 10rem;
    padding-bottom: 12rem;
    font-size: 15px;
  }

  .contact-icons img {
    height: 76px;
    width: 76px;
  }
}

@media (max-width: 512px) {
  .header-container {
    padding: 1rem 1.5rem;
  }

  .ham-menu {
    display: block;
    width: 26px;
    position: relative;
    z-index: 12;
  }

  .ham-menu-close {
    content: url(assets/icons8-close\ -white.svg);
  }

  .nav-list {
    display: none;
  }

  .menu-toggle {
    height: 300px;
    width: 300px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    backdrop-filter: blur(2px);
    background-color: #181818e6;
    border-bottom-left-radius: 300px;
  }

  .light-mode .menu-toggle {
    background-color: #e7e7e7e6;
  }

  .nav-list ul {
    gap: 2.5vmax;
    flex-direction: column;
    position: absolute;
    top: 86px;
    right: 90px;
  }

  .hero {
    font-size: 12px;
    margin-bottom: 3rem;
  }

  .hero-description {
    font-size: 11px;
  }

  .about-intro {
    font-size: 10px;
  }

  .skills {
    padding-top: 2rem;
  }

  .contact-icons {
    padding: 0 0.6rem;
    flex-wrap: wrap;
  }

  .contact-icons img {
    width: 64px;
    height: 64px;
  }

  .contact-icons .hr-line {
    display: none;
  }

  .form-wrapper {
    width: 400px;
    font-size: 15px;
  }
}
@media (max-width: 475px) {
  .work-section,
  .contact-section {
    font-size: 10px;
  }

  .flying-btn {
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .hero {
    font-size: 10px;
  }

  .hero-description {
    font-size: 9px;
  }

  .about-intro {
    font-size: 9px;
  }

  .skills img {
    width: 48px;
    height: 48px;
  }

  .contact-section {
    padding-top: 8rem;
    padding-bottom: 10rem;
  }
}
